@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');

* {
  font-family: 'Open Sans', sans-serif;
}

nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  border: none;
}
nav.navbar img.logo {
  height: 30px;
  display: inline-block;
}
.page-header img.logo {
  width: 20%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent !important;
  font-weight: bold;
}
nav.navbar ul li a, .navbar-brand {
  color: #fff !important;
  line-height: 50px;
}
.page-header {
  height: 700px;
  z-index: 1;
  margin-top: 0;
  text-align: center;
  padding: 0;
  color: #fff;
}
.page-header::after {
  height: 700px;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url('../images/header.jpg');
  background-size: cover;
  content: "";
  filter: brightness(0.9);
  background-position: center;
}
.page-header.small {
  height: 80px;
}
.page-header.small::after {
  height: 80px;
}
.page-header.small .header-inner {
  height: 80px;
}
.page-header h1 {
  font-weight: bold;
}
.page-header .header-inner {
  width: 100%;
  height: 700px;
  background: url("../images/ipencap.png");
  position: relative;
  z-index: 2;
}
.page-header .header-inner .push-down {
  position: absolute;
  top: 120px;
  width: 100%;
  z-index: 10;
}
.page-header .input-group {
  margin-top: 40px;
}
.page-header .input-group .form-control {
  font-size: 25px;
  line-height: 240px;
  height: 60px;
  box-shadow: none !important;
  outline: none !important;
  border-radius: 0;
}
.page-header .input-group .form-control::placeholder {
  font-size: 25px;
  color: #fff;
}
.page-header .input-group-addon {
  background: none !important;
  border: none;
  color: #fff;
  font-size: 20px;
}
.page-header .form-control {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
/*.page-body {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: auto;
}
.page-body .inner-body {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
}*/

footer.footer {
  background-color: #ddd !important;
  padding: 15px 0;
  margin-top: 50px;
}

#map {
  widows: 100%;
  height: 400px;
}

#filter-expand {
  margin-bottom: 30px;
  display: block;
  cursor: pointer;
  width: auto;
}

#filter-selection {
  border-radius: 0;
  border: 0;
  background-color: #ddd;
}

#filter-selection h3 {
  margin-top: 0;
  font-weight: bold;
  font-size: 14px;
}
#filter-selection label {
  font-weight: normal;
}

.partners h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.partners .logo {
  width: auto;
  max-width: 100%;
  max-height: 70px;
  margin: 0 auto 30px auto;
  display: block;
}

.project img {
  max-width: 100%;
}
.project h2 {
  margin-top: 0;
}
.projects-container a {
  color: #333;
}
.project {
  border-radius: 0;
  border: 0;
  background-color: #ddd;
}

#filter-selection #search-form {
  margin-bottom: 20px;
}
#filter-selection #search-form #search-addon {
  background-color: transparent !important;
  border: none !important;
}
#filter-selection #search-form .form-control {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
}
.project .profile-picture {
  width: 40px;
  margin-right: 10px;
}

.project-container .profile-picture {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

.project-container .well {
  border-radius: 0;
  border: 0;
  background-color: #ddd;
}

.project-container, .projects-container {
  text-align: justify;
}

.project-container h2, .projects-container h2 {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}
.financing label {
  margin: 0 !important;
}
.financing .progress {
  margin-bottom: 5px;
}


.profile-container .well {
  border-radius: 0;
  border: 0;
  background-color: #ddd;
}

.profile-container, .projects-container {
  text-align: justify;
}

.profile-container h2, .projects-container h2 {
  font-size: 18px;
  margin-top: 0;
  font-weight: bold;
}

.profile-container .profile-picture {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}
.profile-container .label {
  margin-bottom: 1px;
  display: inline-block;
}

.btn.btn-fullwidth {
  width: 100%;
}

.btn.btn-primary {
  background-color: #303F9F;
  border: none;
  border-radius: 0;
}
.progress .progress-bar-primary {
  background-color: #303F9F;
}
.progress {
  border-radius: 0;
}
.pagination > .active > a {
  background-color: #303F9F;
}

.projects-container span.pull-right {
  line-height: 40px;
}
.qr {
  width: 100%;
}

.modal-header, .modal-footer, .modal-content {
  border-radius: 0 !important;
}
.btn {
  border-radius: 0 !important;
}

.modal-header {
  background-color: #303F9F;
  color: #fff;
}

.navbar-toggle {
  color: #fff;
  border: none;
  border-color: #fff !important;
  background-color: transparent !important;
}

.gallery {
  max-width: 100%;
}
